<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{localesMenu.[cypherMe]}}</title>
    <meta name="description" content="Cypher your passwords and get two-factor paper passwords"/>
    <meta name="HandheldFriendly" content="True" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles.css"/>
    <script type="text/javascript">
      var cypherMeState = (function() {
        return {
          localesStrings: JSON.parse('{{{toJSON localesStrings}}}'),
        }
      })();
    </script>
    <script type="text/javascript" src="/cypherMeApp.js"></script>
</head>
<body>
  {{> header}}

  {{{body}}}

  {{> footer}}
</body>
</html>