<h1 style="text-align: center;">{{localesMenu.[cypherMe]}}</h1>
<div style="display: flex; justify-content: center; align-items: center;">
  <form style="width: 100%">
   <fieldset>
      <legend>Cypher Me:</legend>
      Your Password:<br>
      <input id="password" type="text"><br>
      Choose Cypher:&nbsp;&nbsp;&nbsp;Choose Shift:<br>
      <select id="cypher">
        <option value="caesar">Caesar</option>
        <option value="morse">Morse</option>
        <option value="transposition">Transposition</option>
        <option value="vigenere">Vigenère</option>
      </select>
      <input id="shift" type="number" min="1" max="26" value="1"><br>
      Choose Repeater:<br>
      <input id="repeater" type="number" min="1" max="5" value="1"><br>
       <input type="button" value="Encrypt" onclick="return cypherMe(this);"><br>
    </fieldset>
  </form>
  <form style="width: 100%">
   <fieldset>
      <legend>:eM rehpyC</legend>
      Your (encrypted) Password:<br>
      <input id="passwordToDecrypt" type="text"><br>
      Chosen Cypher:&nbsp;&nbsp;&nbsp;Chosen Shift:<br>
      <select id="cypherToDecrypt">
        <option value="caesar">Caesar</option>
        <option value="morse">Morse</option>
        <option value="transposition">Transposition</option>
        <option value="vigenere">Vigenère</option>
      </select>
      <input id="shiftToDecrypt" type="number" min="1" max="26" value="1"><br>
      Chosen Repeater:<br>
      <input id="repeaterToDecrypt" type="number" min="1" max="5" value="1"><br>
       <input type="button" value="Decrypt" onclick="return deCypherMe(this);"><br>
    </fieldset>
  </form>
</div>
<div style="display: flex; justify-content: center; align-items: center;">
  <form style="width: 100%">
    <fieldset>
      <legend>:eM rehpyC</legend>
      Your encrypted Password:<br>
      <textarea id="passwordNew" readonly="true"></textarea><br>
      Your used Cypher and Repeater:<br>
      <textarea id="cypherUsed" readonly="true"></textarea><br>
    </fieldset>
  </form>
  <form style="width: 100%">
    <fieldset>
      <legend>Cypher Me:</legend>
      Your decrypted Password:<br>
      <textarea id="passwordDecrypted" readonly="true"></textarea><br>
      Your used Cypher and Repeater:<br>
      <textarea id="cypherUsedToDecrypt" readonly="true"></textarea><br>
    </fieldset>
  </form>
</div>
