<style type="text/css">
  body {
    font-family: "Courier New", Courier, monospace !important;
  }

  h1, h3 {
   text-align: center; 
  }

  hr {
    color:rgb(118,118,119);
  }

  form {
    width: 100%;
  }

  legend {
    font-weight: bold;
  }

  #divToEncryptDecrypt,
  #divEncryptedDecrypted {
    display: flex; 
    justify-content: center; 
    align-items: center;
  }
</style>

<h1><span style="color:rgb(118,118,119);">cypher</span><span style="color:rgb(255, 235, 59);">Me</span></h1>
<hr>
<h3 ><span style="color:rgb(118,118,119);">Cypher</span> your <span style="color:rgb(255, 235, 59);">passwords</span> ...</h3>
<h3>... and get <span style="color:rgb(118,118,119);">two</span>-<span style="color:rgb(255, 235, 59);">factor</span> paper passwords</h3>
<hr><br><br>
<div id="divToEncryptDecrypt">
  <form id="formToEncrypt">
   <fieldset>
      <legend>Cypher Me:</legend>
      Your Password:<br>
      <input id="password" type="text"><br>
      Choose Cypher:&nbsp; &nbsp; <label id="shiftLabel" for="shift">Choose Shift:</label> <label id="keywordLabel" for="keyword">Choose Keyword:</label> <br>
      <select id="cypher" onchange="toggleView()">
        <option value="caesar">Caesar</option>
        <option value="reverse">Reverse Word</option>
        <option value="reverseCase">Reverse Word and Case</option>
        <option value="vigenere">Vigenère</option>
      </select>
      <input id="shift" type="number" min="1" max="26" value="1"> <input id="keyword" type="text" min="1"> <br>
      Choose Repeater:<br>
      <input id="repeater" type="number" min="1" max="5" value="1"><br><br>
       <input type="button" value="Encrypt" onclick="return cypherMe(this);"><br>
    </fieldset>
  </form>
  <form id="formToDecrypt">
   <fieldset>
      <legend>:eM rehpyC</legend>
      Your (encrypted) Password:<br>
      <input id="passwordToDecrypt" type="text"><br>
      Chosen Cypher:&nbsp; &nbsp; <label id="shiftToDecryptLabel" for="shiftToDecrypt">Chosen Shift:</label> <label id="keywordToDecryptLabel" for="keywordToDecrypt">Choose Keyword:</label> <br>
      <select id="cypherToDecrypt" onchange="toggleViewToDecrypt()">
        <option value="caesar">Caesar</option>
        <option value="reverse">Reverse Word</option>
        <option value="reverseCase">Reverse Word and Case</option>
        <option value="vigenere">Vigenère</option>
      </select>
      <input id="shiftToDecrypt" type="number" min="1" max="26" value="1"> <input id="keywordToDecrypt" type="text" min="1"><br>
      Chosen Repeater:<br>
      <input id="repeaterToDecrypt" type="number" min="1" max="5" value="1"><br><br>
      <input type="button" value="Decrypt" onclick="return deCypherMe(this);"><br>
    </fieldset>
  </form>
</div>
<div id="divEncryptedDecrypted">
  <form id="formEncrypted">
    <fieldset>
      <legend>:eM rehpyC</legend>
      Your encrypted Password:<br>
      <textarea id="passwordEncrypted" readonly="true"></textarea><br>
      Your used Cypher and Repeater:<br>
      <textarea id="cypherUsed" readonly="true"></textarea>
    </fieldset>
    <div style="text-align: center;">
      <input type="button" value="Reset" onclick="document.getElementById('formToEncrypt').reset(); document.getElementById('formEncrypted').reset();
      toggleView()" style="margin-top: 8px; width: 99%;"> 
    </div>
  </form>
  <form id="formDecrypted">
    <fieldset>
      <legend>Cypher Me:</legend>
      Your decrypted Password:<br>
      <textarea id="passwordDecrypted" readonly="true"></textarea><br>
      Your used Cypher and Repeater:<br>
      <textarea id="cypherUsedToDecrypt" readonly="true"></textarea>
    </fieldset>
    <div style="text-align: center;">
      <input type="button" value="Reset" onclick="document.getElementById('formToDecrypt').reset(); document.getElementById('formDecrypted').reset();
      toggleViewToDecrypt();" style="margin-top: 8px; width: 99%;">
    </div>
  </form>
</div><br><br>
<hr>
<div style="text-align: right; font-size: 12px; color:rgb(118,118,119);">
  daten&amp;bass 2016
</div>
<script type="text/javascript">
window.onload = function () {
  toggleView();
  toggleViewToDecrypt();
}
</script>
