swagger: "2.0"
info:
  version: "0.4.0"
  title: cypherMe
host: cypherme.daten-und-bass.io
basePath: /
schemes:
  - https
consumes:
  - text/html
produces:
  - text/html
paths:
  /:
    x-swagger-router-controller: context_html_web_index
    get:
      description: Redirects to localized main html (locale is detected according to req.acceptsLanguages() and code '302' is the default for a successful redirectin express.js)
      operationId: index
      consumes:
        - text/plain
      produces:
        - text/plain
      responses:
        "302":
          description: Success
          schema:
            type: string
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /{locale}:
    x-swagger-router-controller: context_html_web_index
    get:
      description: Returns a localized home page
      operationId: index_locale
      parameters:
        - $ref: "#/parameters/locale"
      responses:
        "200":
          description: Success
          schema:
            type: string
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /en/about:
    x-swagger-router-controller: context_html_web_index
    get:
      description: Returns the about page
      operationId: about
      parameters:
        - $ref: "#/parameters/lang"
      responses:
        "200":
          description: Success
          schema:
            type: string
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  # /swagger:
  #   x-swagger-pipe: swagger_raw

parameters:
  locale:
    name: locale
    required: true
    in: path
    description: Used for detecting and setting the UI language.
    type: string
    enum: [ en, es, de, fr ] 
  lang:
    name: lang
    required: false
    in: query
    description: Used for detecting and setting the UI language when redirecting from english-only pages
    type: string
    enum: [ en, es, de, fr ] 

# complex objects #
definitions:
  ErrorResponse:
    required:
      - message
    properties:
      message:
        type: string
